* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.6s ease;
}


.box {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.12);
    text-align: center;
}


h2 {
    margin-bottom: 20px;
    color: #222;
    font-size: 24px;
    font-weight: 600;
}


input, select {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    font-size: 16px;
    color: #333;
    background: #fafafa;
    transition: 0.2s;
}

input:focus, select:focus {
    border-color: #3a6ff7;
    outline: none;
    box-shadow: 0 0 6px rgba(58,111,247,0.3);
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    background: #3a6ff7;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background: #2c56c7;
    transform: translateY(-2px);
}


#resultText {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}


#moodBox {
    margin-top: 20px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#moodText {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}
